$colorText: rgb(133, 133, 133);
.container{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: black;
    position:relative;
    bottom: 0px;
    height: fit-content;
    margin-top: 30px;
}
.footerContent{
    display: flex;
    flex-wrap: wrap;
}
.footerItems{
    display: flex;
    flex-wrap: wrap;
}
.footerItem{
    flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 170px;
}

li{
    margin-bottom: 10px;
    margin-top: 10px;
    color:rgb(133, 133, 133);
  }

.language{
    cursor: pointer;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    overflow: hidden;
    padding: 2px;
    width: 170px;
    height: 34.4px;
    display: block;
    text-overflow: ellipsis;
    background-color: black;
    color: azure;
}

li{
    list-style: none;
    padding-bottom: 2px;
    font-size: 14px;
    width: 100px;
    color: $colorText;
}
li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footerEnd{
    display: flex;
    justify-content: space-between;
}
.authority{
    color: $colorText;
}